services:
	-
		class: PHPStan\Type\BeberleiAssert\AssertionChainDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension

	-
		class: PHPStan\Type\BeberleiAssert\AssertionChainTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.methodTypeSpecifyingExtension

	-
		class: PHPStan\Type\BeberleiAssert\AssertThatDynamicMethodReturnTypeExtension
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
	-
		class: PHPStan\Type\BeberleiAssert\AssertThatFunctionDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\BeberleiAssert\AssertTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.staticMethodTypeSpecifyingExtension
